:root {
    --color-border-light: rgba(170,200,200,1);
    --color-fore-on-accent: white;
    
    --color-primary: #263238;
    --color-primary-dark: #000a12;
    --color-primary-light: #4f5b62;
    --color-primary-font: white;
    
    --color-secondary: #00e676;
    --color-secondary-dark: #00b248;
    --color-secondary-light: #66ffa6;
    --color-secondary-font: black;
    
    
    --color-primary-accent: #F03E5B;
    --color-primary-light-tint: rgba(66, 142, 146, 0.1);
    --font-color-primary: #263238;
    --font-color-light: #000a12;
    --color-background-base: rgb(227,219,217);
    --color-background-content: rgb(245, 245, 246);
    --color-shadow-14: rgba(38, 50, 56, 0.14);
    --color-shadow-22: rgba(38, 50, 56, 0.22);
    --color-tint-primary: rgb(76, 175, 80, 0.04);
  }