@import './include-media.scss';
@import './material-shadows.scss';
@import './color-theme.scss';

*:focus {
  outline: none;
}

@mixin headline3 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 0px;
  color: black;
}
@mixin headline4 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.25px;
  color: black;
}

@mixin body1 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #263238;
}

@mixin material_button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1.25px;
  color: #263238;
}
@mixin material_overline {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background-base);
  margin: 0;
  padding: 0;
}
h1 {
  // Headline 3
  @include headline3();
}
h2 {
  @include headline4();
}
button {
  @include material_button();
}
p {
  @include body1();
}

// primary theme
a {
  color: var(--color-secondary-dark);
  text-decoration: none;
  transition: color 1.0s;
  font-weight: 400;
  &:hover{
    color: var(--color-primary-accent)
  }
}

button {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-fore-on-accent);
  padding: 8px 16px;
  margin: 2px 4px;
  border-radius: 0px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1px;

  //animation
  background-position: center;
  transition: background 1.5s;
  transition: box-shadow 1.5s;
  //box-shadow: var(--shadow-2dp);
  @include BoxShadow(3);
  &:active:hover{
    box-shadow: none;
    background: var(--color-primary-lighten) radial-gradient(circle, transparent 1%, var(--color-primary) 1%) center/15000%;
  }
  &:hover{
    @include BoxShadow(4);
    background-color: var(--color-primary-accent);
  }
}

button.action-text{
  background-color: var(--color-base);
  color: var(--color-primary);
  box-shadow: none;
}
button.action-text:hover {
  background: var(--color-primary-light-tint) radial-gradient(circle, transparent 1%, var(--color-base) 1%) center/15000%;
}

// Material Banner element
div.material-banner {
  display: block;
  position: relative;
  height: auto;
  margin: 0;
  padding: 16px;
  border-bottom: 2px solid var(--color-shadow-14);
  background-color: var(--color-tint-primary);
  @include media('<desktop') {
    div.actions {
      text-align: right;
    }
  }
}
@include media('>desktop') {
  .material-banner {
    padding: 16px 32px;
  }
  .banner-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    div.actions {
      align-self: center;
      display: flex;
    }
  }
}

// Router-view-container
div#router-view-container {
  margin: 0;
  padding: 0;
  div#router-view-layout {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

@include media('>desktop') {
  div#router-view-container {
    div#router-view-layout {
      max-width: 840px;
      margin: auto;
    }
  }
}

#appBar{
  padding: 8px;
  padding-top: 8px;
  border-top: solid 8px var(--color-primary-dark);
  z-index: 9000;
  h1 {
    @include material_button();
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: var(--color-primary-font);
  }
  .versionInfo {
    @include material_overline();
    color: var(--color-primary-font);
  }
}

@import './material-components.scss';
