@import './include-media.scss';
@import './material-shadows.scss';
@import './color-theme.scss';

@mixin BoxSpacing {
  margin: 8px auto;
  padding: 8px;
  max-width: 720px;
}
  
.material-card{
  @include BoxShadow(3);
  @include BoxSpacing();
  background-color: var(--color-background-content);
  position: relative;
}

button.material-button {
  @include BoxShadow(4);
  transition: background 0.8s;
  &.material-button-text {
    background: none;
    color: var(--color-primary);
    box-shadow: none;
    &.material-button-hover{
      background-color: var(--color-shadow-14);
    }
  }
}